version: '3.9'

services:
  token-server:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./recordings:/recordings
    environment:
      - NODE_OPTIONS=--unhandled-rejections=strict
      - FORCE_COLOR=1 # Sometimes helps with visibility
    restart: always

  redis:
    image: redis:latest # Using latest

  livekit:
    image: livekit/livekit-server:latest
    environment:
      LIVEKIT_KEYS: "my_livekit_devkey: SPsypD0fbZwJuO4i2A3FLhQV6KEX7xcR"
      LIVEKIT_REDIS_ADDRESS: redis:6379
      LIVEKIT_EGRESS_WS_URL: ws://livekit:7880
    command: --dev --node-ip 100.100.10.100
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
    depends_on:
      - redis

  egress:
    image: livekit/egress:latest
    cap_add:
      - SYS_ADMIN
    environment:
      EGRESS_CONFIG_FILE: /etc/egress.yaml
    volumes:
      - ./egress.yaml:/etc/egress.yaml
      - ./recordings:/recordings
    restart: unless-stopped # ADD THIS: Forces retries if Redis isn't ready
    depends_on:
      - redis
      - livekit